<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update user</title>
</head>
<body>

<form th:method="PATCH" th:action="@{/admin/{id}(id=${userUpdate.getId()})}" th:object="${userUpdate}">
    <label for="name">Enter name: </label>
    <input type="text" th:field="*{name}" id="name"/>
    <div style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</div>
    <br/><br>

    <label for="password">Enter password: </label>
    <input type="password" th:field="*{password}" id="password" required="required"/>
    <div style="color:red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</div>
    <br/><br>

    <br>
    <div>
        <label for="e-Role">Role</label>
        <select class="form-control"
                id="e-Role"
                multiple="multiple" name="listRoles[]" size="2" required="required">
            <option th:value="ROLE_ADMIN">ADMIN</option>
            <option th:value="ROLE_USER">USER</option>
        </select>
    </div>
    </br>


    <input type="submit" value="Update!"/>
    &nbsp&nbsp&nbsp&nbsp
    <input type="button" value="Go to Users page!" onclick="window.location.href='/admin'"/>
    <br/><br>

    <form th:action="@{/logout}" th:method="POST">

        <input type="submit" value="LogOut"/>
    </form>


</form>
</body>
</html>